@model ezvax.Models.ProfilMedical

@{
    ViewBag.Title = "Medical Profile";
}

<h2>Profile</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ProfilMedical</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.varsta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.varsta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.varsta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.gen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.gen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.gen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.grupaSanguina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.grupaSanguina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.grupaSanguina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.boliCronice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.boliCronice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.boliCronice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.anticorpi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.anticorpi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.anticorpi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.DropDownListFor(model => model.idSimptom, htmlAttributes: new { @class = "control-label col-md-2" }, new SelectList)
        <div class="col-md-10">
            @Html.EditorFor(model => model.anticorpi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.anticorpi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
