@model IEnumerable<ezvax.Models.Stoc>

@{
    ViewBag.Title = "Index";
      if (Session["adminID"] == null)
    {
        Response.Redirect("~/Admin/AdminAuth");
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stocAstraZeneca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stocPfizer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stocSputnik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stocModerna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinica.nume)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stocAstraZeneca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stocPfizer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stocSputnik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stocModerna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clinica.nume)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
